<% provide(:title, 'Log in') %>

<div class="container">
  <section>

    <div class="page-header" id="feedback">
      <h2>Log in Now : <small><span style="color:orange">Hey Coin User! Log In Now!</span></small></h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= form_for(:session, url: login_path) do |f| %>

              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>

              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>

              <br/>
              <%= f.submit "Log in", class: "btn btn-info" %>

          <% end %>
        </div>
      </div>
    </div>

  </section>
</div>