<p id="notice"><%= notice %></p>

<p>
  <strong>Walletid:</strong>
  <%= @wallet.walletid %>
</p>

<p>
  <strong>Coinsaveid:</strong>
  <%= @wallet.coinsaveid %>
</p>

<%= link_to 'Edit', edit_wallet_path(@wallet) %> |
<%= link_to 'Back', wallets_path %>
