<%= form_for(@coinuser) do |f| %>
  <% if @coinuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coinuser.errors.count, "error") %> prohibited this coinuser from being saved:</h2>

      <ul>
      <% @coinuser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :Password %><br>
    <%= f.password_field :encryptedpwd %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
