<p id="notice"><%= notice %></p>

<h1>Listing Coinsaves</h1>

<table>
  <thead>
    <tr>
      <th>Coinsaveid</th>
      <th>Walletid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coinsaves.each do |coinsafe| %>
      <tr>
        <td><%= coinsafe.coinsaveid %></td>
        <td><%= coinsafe.walletid %></td>
        <td><%= link_to 'Show', coinsafe %></td>
        <td><%= link_to 'Edit', edit_coinsafe_path(coinsafe) %></td>
        <td><%= link_to 'Destroy', coinsafe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coinsave', new_coinsafe_path %>
