<p id="notice"><%= notice %></p>

<p>
  <strong>Coinsaveid:</strong>
  <%= @coinsafe.coinsaveid %>
</p>

<p>
  <strong>Walletid:</strong>
  <%= @coinsafe.walletid %>
</p>

<%= link_to 'Edit', edit_coinsafe_path(@coinsafe) %> |
<%= link_to 'Back', coinsaves_path %>
